<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5>Practice 11 - Http in Angular</h5>
      <hr>
      <h6>Requirments:</h6>
      <ol>
        <li>Send CRUD request in Angular.</li>
        <li>Use HttpClient to make GET, POST, PUT, and DELETE requests.</li>
        <li>Sending a request with Angular can be done with extra options:
          <ul>
            <li>
              headers?: HttpHeaders
            </li>
            <li>
              observe: 'response | body | etc..';
            </li>
            <li>
              params?: HttpParams
            </li>
            <li>
              reportProgress?: boolean;
            </li>
            <li>
              responseType?: 'json | text | etc..';
            </li>
            <li>
              withCredentials?: boolean;
            </li>
          </ul>
        </li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="row mb-3">
    <div class="col-md-6">
      <app-h-c></app-h-c>
      <mat-spinner *ngIf="ils.isLoading" [diameter]="40"></mat-spinner>
    </div>
    <div class="col-md-6">
      <app-h-d></app-h-d>
    </div>
  </div>
</div>
