<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h5>Practice 7 - Routing</h5>
      <hr>
      <h6>Requirments:</h6>
      <ol>
        <li>Routing practice</li>
        <li>router-outlet is used to show the CHILDREN of the current component. e.g. Priest has children, which
          will render the ClassDetailComponent, by putting the router-outlet in the Priest component, it will now
          show the children on the same page as the Priest component HTML.
        </li>
      </ol>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h6>Solution:</h6>
      <h6>
        World of Warcraft Class Guides.
      </h6>
      <div>
        Please pick a class below to view details.
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div>
      <a [routerLink]="'./'" [routerLinkActive]="'link active'"> Routing Home: './'
       CSS active is applied if part of ./ </a>
    </div>
    <div>
      <a [routerLink]="'./'" [routerLinkActive]="'link active'"
        [routerLinkActiveOptions]="{exact: true}"> Routing Home: './'  BUT CSS active is applied only on exact URL match </a>
    </div>
    <div>
      <a [routerLink]="['./', 'mage']"> Go to mage with an array of paths: ['./', 'mage'] </a>
    </div>
    <div>
      <button class="btn btn-outline-primary btn btn-sm" (click)="goHome()">Go to 'mage', NO relative set</button>
    </div>
    <div>
      <button class="btn btn-outline-primary btn btn-sm" (click)="goHomeRelative()">Go to 'mage', relative to current route (the route
        that loaded this component)
      </button>
    </div>
    <div>
      <button *ngFor="let item of guideList" class="btn btn-outline-primary btn btn-sm mr-2"
      (click)="goClass(item)">Go to {{item.display}} (js style)</button>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col-md-4">
      <div class="list-group">
        <a *ngFor="let item of guideList" [routerLinkActive]="'active'"
          [routerLink]="item.url" class="list-group-item list-group-item-action" >

          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.display}}</h5>
            <small>{{item.updated}}</small>
          </div>
          <p class="mb-1"> {{item.display}} Guide.</p>
          <small>{{item.desc}}</small>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
