<div class="container-fluid">
  <h5>Practice 1 - Components</h5>
  <hr>
  <h6>
    Requirements
  </h6>
  <div>
    <ol>
      <li>
        Create 2 new components, WarningAlert and SuccessAlert.
      </li>
      <li>
        Output them beneath each other
      </li>
      <li>
        Output a warning or success message in the components
      </li>
      <li>
        Style them with some colors.
      </li>
    </ol>
  </div>
  <hr>
  <h6> 
    Results
  </h6>
  <app-p1-success></app-p1-success>
  <app-p1-warning></app-p1-warning>
</div>

