<div class="row mt-1">
  <div class="col text-center">
    <h6>
      You are seeing the ClassDetailComponent!
      <div>
        {{valueObj | json}}
      </div>
    </h6>
  </div>
</div>
<div *ngIf="classId; else noneSelected">
  <div class="row">
    <div class="col">
      Class Detail for {{classId}}.
      This is shown as a child of this class.
      Class -> '' (Class component) -> (children of) -> ':id' which is this component
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      All of the param value: {{valueObj | json}}
    </div>
  </div>
</div>

<ng-template #noneSelected>
  Select a ID to see details.
  This is shown if a param of "id" does not exist.
</ng-template>

