<mat-toolbar class="app-header">{{headerTitle}}</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav"
    [fixedInViewport]="false" [fixedTopGap]="true" [fixedBottomGap]="true">
    <mat-list>
      <div mat-subheader>Practices</div>
      <mat-list-item *ngFor="let item of navList">
        <mat-icon mat-list-icon>folder</mat-icon>
        <a mat-line [routerLink]="item.url">{{item.display}}</a>
        <div mat-line> {{item.desc}} </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="app-footer">{{footerTitle}}</mat-toolbar>





<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->