<mat-toolbar class="app-header">
  <a [routerLink]="'/'">{{headerTitle}}</a>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav"
    [fixedInViewport]="false" [fixedTopGap]="topGaP" [fixedBottomGap]="bottomGap">
    <mat-list>
      <div mat-subheader>Practices ({{navList.length}})</div>
      <mat-list-item *ngFor="let item of navList" class="mb-2 left-nav-item" [routerLinkActive]="'active'">
        <mat-icon mat-list-icon>star</mat-icon>
        <div>
          <a mat-line [routerLink]="item.url">{{item.display}}</a>
          <div class="text-mute text-muted"> {{item.desc}} </div>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="app-footer">{{footerTitle}}</mat-toolbar>

