<div class="row">
  <div class="col-md-12">
    <h6 class="text-center t-h" *ngIf="!editMode">
      Compose
    </h6>
    <small *ngIf="editMode">{{tweetData.id}}</small>
    <hr>
    <form [formGroup]="tweetFg">
      <div class="row mb-1">
        <div class="col-md-12">
          <input class="form-control" placeholder="Name..." formControlName="userName">
        </div>
      </div>

      <div class="row mb-1">
        <div class="col-md-12">
          <textarea cdkFocusInitial class="form-control" placeholder="Tweet..." formControlName="content"></textarea>
        </div>
      </div>
    </form>

    <div class="row mb-1">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary full" (click)="onSubmit()"
              [disabled]="!tweetData || (tweetData && !tweetData.userName) || (tweetFg.invalid || loading)">
              {{editMode ? 'Update tweet' : 'Tweet it!'}}
            </button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-secondary full" (click)="onReset()"> Reset </button>
          </div>
        </div>
        <div class="row mt-1">
          <div class="col-md-12">
            <div *ngIf="tweetFg.invalid && tweetFg.get('userName').touched &&
              tweetFg.get('content').touched" class="alert alert-warning" role="alert">
                Double check your input.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


