@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Inria+Sans:400,700|Muli|PT+Sans&display=swap');

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: #248f24;
}

ol li {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

h6 {
  font-family: 'PT Sans', sans-serif;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

a {
  font-family: 'PT Sans', sans-serif;
}
