.full {
  width: 100%;
}

input.ng-invalid.ng-touched {
  background-color: rgb(226, 153, 153);
}

textarea.ng-invalid.ng-touched {
  background-color: rgb(226, 153, 153);
}

.t-h {
  font-weight: 800;
  font-family: 'Inria Sans';
}
